/* heder settings */

/* header {
  height: 70px;
  background-color: #3e3232;
  position: fixed;
  width: 100%;
} */
.navbar {
  position: relative;

  background: #3e3232;
}

.navbar-left {
  display: inline-block;

  margin-left: 100px;
}

.navbar-right {
  display: inline-block;

  margin-right: 15px;

  position: absolute;
  top: 0;
  right: 0;
}

.navbar .nav-link {
  color: White;
  text-decoration: none;

  display: inline-block;
  padding: 15px;
}

.navbar-brand {
  position: absolute;
  top: 5px;
  left: 15px;
}

.navbar .nav-link:hover {
  color: LightGray;
}

.navbar-collapse,
.navbar-toggler {
  display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Override styles to support mobile devices
  */

@media (max-width: 842px) {
  .navbar-right,
  .navbar-left {
    display: block;

    border-top: 1px solid DimGray;
  }

  .navbar-right {
    position: static;
  }

  .navbar .nav-link {
    display: block;
  }

  .navbar-collapse:checked + .navbar {
    max-height: 50px;
    overflow: hidden;
  }

  .navbar-toggler {
    color: White;

    display: inline-block;
    padding: 15px 25px;

    position: absolute;
    top: 0;
    right: 0;

    border-left: 1px solid DimGray;

    cursor: pointer;
  }
} /* @media */
