@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* general settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body General Settings */

body {
  background-color: #18171c;
  font-family: "Poppins", sans-serif;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

/* Main General Settings */
main {
  position: relative;
  z-index: -1;
}

/* Footer General Settings */
footer {
  text-align: center;
  padding: 20px;
  width: 100%;
  margin: auto 0;
  color: #fff;
  background-color: #221f2e;
  position: relative;
  top: 200vh;
}
